*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
     display: flex;
     justify-content: space-between;
     max-width: 1200px;
     margin: 0 auto;
     padding: 30px 0;
     align-items: center;
}

#logo{
     font-size: 2rem;
}



.nav-item{
     list-style: none;
     display: flex;
     gap: 32px;
     justify-content: center;
      
}

.nav-item a{
    text-decoration: none;
     font-size: 1rem;
     font-weight: 400;

}

.btn{
     border: none;
     padding: 12px 16px;
     border-radius: 10000px;
     font-size: 1rem;
     font-weight: 500;
     color: #FFFF;
     cursor: pointer;
     
}

.btn-2{

         border: 2px solid #00FF88;
     padding: 12px 16px;
     border-radius: 10000px;
     font-size: 1rem;
     font-weight: 500;
     color: #FFFF;
     background-color: transparent;
     cursor: pointer;  
}

.btn-2 img{
     margin-right: 8px;
     align-items: center;
     width: 17px;
}

.button{
     display: flex;
     gap: 8px;
     justify-content: center;
     font-size: 1rem;
     font-weight: 500;
}

.banner{
    width: 100%;
    height: 760px;
     background: url(assets/hero-bg.png);
     /* background-repeat: no-repeat; */
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
}

.banner-container{
     width: 100%;
     display: flex;
     justify-content: center;
}

.banner-img{
        background: url("assets/hero-circle.png");
     background-repeat: no-repeat;
     height: 350px;
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;     
}

.banner-card{
     display: flex;
     flex-direction: column;
     text-align: center;
     max-width: 550px;
}

.banner-tittle{
     font-size: 4rem;
     margin-bottom: 8px;
     font-weight: 700;
}

.banner-card p{
     color: #d8d8d880;
     font-size: 1rem;
     font-weight: normal;
     margin-bottom: 24px;

}

.about-container{
     max-width: 1200px;
     margin: 0 auto;
     text-align: center;
     
}

.about-container h2{
     
    font-size: 3rem;
    font-weight: 700;
}

.about-text{
     font-size: 1rem;
     font-weight: normal;
     color: #d8d8d880;
     margin-top: 16px;
     line-height: 2;
}

.about-text-2{
     color: #d8d8d880 ;
     margin-top: 50px;
     margin-bottom: 80px;
}

.card{
     display: flex;
     gap: 80px;
     justify-content: space-between;
     margin-top: 80px;
     text-align: center;
     padding-bottom: 120px;
}

.about-card h2{
     color: #00FF88;
     font-size: 3rem;
     font-weight: 800;
     margin-bottom: 16pxgi;
}

.about-card p{
     color: #d8d8d880;
     
}


.choice{
      padding-bottom: 120px;
       
}

.choice h2{ 
     text-align: center;
     padding-top: 120px;
     font-size: 3rem;
     font-weight: 700;
}

.choice-container>*{
    margin-top: 40px;
     border: none;
     background-color: #2f1255e8;
     border-radius: 40px;
     padding: 50px;
     justify-content: center;
     max-width: 1200px;
     
     
}




#premium{ 
    grid-area: premium;
    max-width: 300px;
    
}

#premium img{
     margin-top: 107px;
     margin-bottom: 21px;
}
#premium h3{
     margin-bottom: 16px;
     color: #FFFF;
     font-size: 1.05rem;
     font-weight: 700;
}

#premium p{
    
     color: #d8d8d880;
     font-size: 1rem;
     font-weight: normal;
     line-height: 1;
}


#mobile{ 
    grid-area: mobile;    
}

#mobile img{
      
     margin-top: 20px;
     margin-bottom: 16px;
     
}

#mobile h3{
     margin-bottom: 16px;
     color: #FFFF;
     font-size: 1.05rem;
     font-weight: 700;

}

#mobile p{
      color: #d8d8d880;
      margin-bottom: 40px;
      font-size: 1rem;
      font-weight: normal;
}



#global{ 
    grid-area: global;
    padding: 40px; 
}

#global img{
          margin-top: 20px;
     margin-bottom: 16px;
     
      
}

#global h3{
      margin-bottom: 16px;
     color: #FFFF;
     font-size: 1.05rem;
     font-weight: 700;
     
      
}

#global p{
color: #d8d8d880;
      margin-bottom: 40px;
      font-size: 1rem;
      font-weight: normal;
      padding: auto;
      
     
      
}



#interviews{ 
    grid-area: interviews; 
}

#interviews img{
          margin-top: 20px;
     margin-bottom: 16px;
}

#interviews h3{
       color: #FFFF;
       margin-bottom: 16px;
       font-size: 1.05rem;
       padding: auto;
}

#interviews p{
      color: #d8d8d880;
       font-size: 1rem;
       font-weight: normal;
       margin-bottom: 40px;
       line-height: 1;
}



#resources{ 
    grid-area: resources; 
}

#resources img{

               margin-top: 20px;
     margin-bottom: 16px;
      
}

#resources h3{
       color: #FFFF;
       margin-bottom: 16px;
       font-size: 1.05rem;
       padding: auto;
}

#resources p{
      color: #d8d8d880;
       font-size: 1rem;
       font-weight: normal;
       margin-bottom: 40px;
       line-height: 1;
}



.choice-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  column-gap: 30px;
  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "interviews interviews resources";
  
   
}

.text-center{
      text-align: center;
}

.Feature-container{
      max-width: 1200px;
      margin: 0 auto;
     padding-top: 120px;

}

.Feature-container h2{
      font-size: 3rem;
      font-weight: 700;
      padding-bottom: 40px;
}

.flex{
      display: flex;
      justify-content: space-between;
}

.feature-card{
      max-width: 380px;
      background-color: #230E3D;
      border-radius: 40px;
      height: 440px;
      margin-bottom: 120px;
      
      

}

.feature-episode h3{
          
     font-size: 24px;
     padding: 24px 24px 12px 24px;
}

.feature-episode p{
          
     font-size: 1rem;
     padding: 0 24px 12px 24px;
}

.time{
  
     padding: 0 24px 24px 24px;
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
     gap: 10px;
     
     
}

.time span{
      margin: 0;
}

.time img{
      display: block;
      margin: 0;
}


.feature-episode iframe{
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
}

.video{
      position: relative;
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      overflow: hidden;
}

.video iframe{
      width: 100%;
      height: 220px;
      display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(45deg,#F7E93F 5%,#FB09B4 51%,#9100F8 100%);
  cursor: pointer;
}

.play-button:hover{

     background-image: linear-gradient(45deg,#F7E93F 10%,#FB09B4 4%,#9100F8 10% );
     color: #FFFF;
      
}

.hosting{
      padding-bottom: 120px;
}

.host-card{
      gap: 24px;
      background-color: #230E3D;
      border-radius: 40px;
      padding: 40px;

}

.host-text p{
      margin-bottom: 16px;
}
.host-icon{
        
display: flex;
gap: 8px;

      

}
.icon-circle{
      border: 1px solid #533C72;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
     text-decoration: none;
     transition: 0.5s;     
}

.icon-circle img{
      width: 18px;
      height: 18px;
      object-fit: contain;
      display: block;
}

.icon-circle:hover{
      background-color: rgb(228, 218, 199);


}



.footer-container{
      width: 100%;
      height: 412px;
     background: url("assets/footer-bg.png");
     background-size: 100%;
     margin: 0 auto;


}



.footer-content{ 
      max-width: 1200px;
      margin: 0 auto;
}

.footer-content h2{
     font-size: 4rem;
      font-weight: 700;
      padding-top: 120px;
      padding-left: 475px;
      padding-right: 475px;
      
}



.Social-Media{
      display: flex;
      gap: 40px;
      justify-content: center;
      padding-top: 25px;
      padding-left: 410px;
      padding-right: 350px;

}

.Social-Media span{
      display: flex;
      gap: 2.5px;
}

.footer-content p{
      padding-top: 50px;
      padding-left: 470px;
      padding-right: 350px;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      
}



.gradient-color{
     
     background-image: linear-gradient(35deg,#F7E93F 5%,#FB09B4 51%,#9100F8 100%);
}



.linear-text-color{
     background-image: linear-gradient(45deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}


.white{
     color: #FFFF;
}

.bg-color{
     background-color: #1A0B2E;
}

.bg-color-2{
     background-color: #230E3D;
}

.gray{
      color: #d8d8d880;
}

.close{
      visibility: hidden;
}